.avatarWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    height: auto;
    margin: 1rem;
}

.avatarImg {
    width: 200px;
    height: 200px;
}

.avatarName {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}
