.family_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .info_container {
        table {
            tr {
                th {
                    padding-right: 2rem;
                    border: 1px solid black;
                }
            }
        }
    }
}
